<div class="user-personal">
    <div class="user-left">
        <div class="icon">
            <img src="<%= gravatar_url(@user, size: 100) %>" alt="" class="img-circle">
        </div>
        <div class="name">
            <h1><%= @user.name %></h1>
        </div>
    </div>
</div>