<div class="space2"></div>
<div class="novel-edit form-block">
  <p>小説編集</p>
  <%= form_for(@novel) do |f| %>
    <%= render 'novels/novel-form', f: f %>
    <%= f.submit '保存する', class: 'green-btn' %>
  <% end %>
</div>
