<div class="space2"></div>
<div class="novel-create form-block">
  <p>新規小説作成</p>
  <%= form_for(@novel) do |f| %>
    <%= render 'novels/novel-form', f: f %>
    <%= f.submit '新規作成', class: 'blue-btn' %>
  <% end %>
</div>
