<div class="novel-text">
    <div class="novel-text-title">
        <span>タイトル：</span><%= @novel.title %>
    </div>
    <div class="novel-text-body">
        <h4>本文</h4>
        <%= @novel.sentence %>
    </div>
</div>