<div class="cover">
    <div class="cover-inner">
        <div class="cover-contents">
            <h1>さあ、小説を読もう！</h1>
            <a href="/signup" class="btn btn-success btn-lg">小説を読む</a>
        </div>
    </div>
</div>
