*{
  margin:0px;
  padding:0px;
}
body{
  background-color:#f9f9f9;
  margin:0;
  padding:0;
}
h1,h2,h3,h4,h5,h6{
  margin-top: 0;
}
p{
  margin: 0;
  line-height: 1.6;
}
li{
  list-style: none;
}
#container{
  background-color:white;
}
#page{
  padding-bottom: 30px;
}
header h1{
  margin-top:0px;
}
header a {
  color:black;
  text-decoration:none;
  margin-top:5px;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
ul.entry{
  background-color:#777;
  padding:10px 0 10px 10px;
  margin-bottom:0px;
}
ul.entry strong{
  color:white;
}
hr{
  width: 100%;
  height:1px;
  border:0;
  border-top:1px black solid;
}

a:link{
  color:#00f;
  text-decoration:none;
}
a:visited{
  color:#000090;
}
a:hover{
  color:#BDB76B;
}
.count_num{
  padding:10px;
}
.count{
  padding: 5px;
}
/*ナビバー*/
#header h1 a:visited{
  color:black;
}
#header h1 a:hover{
  color: black;
  opacity: 0.8;
}
#navbar{
  height:55px;
}
#navbar ul.nl{
  list-style:none;
  width:100%;
  margin:0;
  padding:0;
  text-align:center;
  
}
#navbar ul.nl li{
  float:left;
  width:25%;
  border:1px solid;
  border-color: #cbc0a7 #7d735f #7d735f #cbc0a7;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  background: linear-gradient(#847b65, #c5b58c);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}
#navbar ul.nl li:hover{
  opacity: 0.8;
}

.nav-icon{
  font-size:25px;
  padding-top:4px;
  color:black;
}
#navbar ul.nl li a{
  color:white;
  display:block;
  font-size: 13px;
}



/* toppages*/
/* トップページ */
.space1{
  margin:100px;
}
.cover-contents h1{
  margin-top:10px;
}
.top-btn {
  margin-top:50px;
  font-size:15px;
  padding:10px 50px;
  display:inline-block;
  color:#333;
  position:relative;
  z-index: 2;
  border: 2px solid #333;
  outline: none;
  overflow: hidden;
}
.top-btn:visited{
  color:black;
}

.top-btn::before,
.top-btn::after {
position: absolute;
z-index: -1;
display: block;
content: '';
}
.top-btn,
.top-btn::before,
.top-btn::after {
transition: all .3s;
}
.top-btn:hover{
  color: #fff;
}
.top-btn::after{
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  transform: scale(.5);
}
.top-btn:hover::after{
  background: #333;
  transform: scale(1, 1);
}



/* users */
/* ユーザー登録ページ */
.entry-form{
  margin: 60px 0px;
}
.row{
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 60px;
  border: 1.5px solid #e4e2e2;
  box-shadow: 3px 3px #eaeef1;
  border-radius: 7px;
}
.row p{
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}
.form-group{
  width:90%;
  margin: 0 auto;
}
.form{
  margin-bottom: 40px;
}
.entry-btn{
  border: 2px solid #f1522f;
  font-size: 16px;
  background: #f1522f;
  color: white;
  font-weight: bold;
  padding:8px 60px;
  border-radius: 4px;
  transition: .4s;
}
.entry-btn:hover{
  background-color: white;
  color: #f1522f;
}

/* ユーザー情報変更 */
.edit-form{
  margin-top: 60px;
}
.image {
  text-align: center;
}
.image input{
  margin: 0 auto;
}
.edit-form .icon{
  text-align: center;
}
.edit-form .entry-btn{
  padding: 8px 25px;
}

/* マイページ */
.mypage{
  margin-top: 20px;
}
.mypage-left{
  float:left;
  width:20%;
  margin-left: 5px;
}
ul.submenu{
  margin: 0px;
  border-radius: 2px;
  border:2.4px solid #cccccc ;
  
}
.submenu li{
  line-height: 45px;
  text-align: center;
  border-bottom: 2.4px solid #cccccc;
  
}
.submenu li a{
  color: #006699;
  display: block;
}
.submenu li a:hover{
  background: #cccccc;
  color: white;
}
li.icon{
  padding-top: 30px;
}
.image-size{
  height:120px;
  width:120px;
  border-radius: 80px;
}
.mypage-center{
  margin-right: 10px;
  float:right;
  width: 75%;
}
.contents p{
  display: inline-block;
  padding-left: 10px;
}
p.date{
  float:right;
  margin-right: 20px;
}
/* フォロワー、フォロー */
.followers, .followings{
  width: 60%;
  margin: 0 auto;
  padding-top: 30px;
}
.followers .contents-box .contents h2, .followings .contents-box .contents h2{
  display: inline-block;
}
.followers h2 strong a, .followings h2 strong a{
  font-size: 15px;
  padding: 0px;
  margin-left: 10px;
}



/* sessions */
/* ログインページ*/
.login-form{
  margin: 60px 0px;
}
.login-btn{
  border: 2px solid #9ec34b;
  font-size: 16px;
  background: #9ec34b;
  color: white;
  font-weight: bold;
  padding:8px 60px;
  border-radius: 4px;
  transition: .4s;
}
.login-btn:hover{
  background: white;
  border-color: #cbe585;
  color: #9ec34b;
}



/* novels */
/* 検索ページ */
.search-form h3{
  margin-top:20px;
}
.glyphicon-search{
  margin-right:10px;
}

/* 各話一覧 */
.fav-btn{
  float: right;
}
#pagetitle{
  font-weight: bold;
  text-align:center;
  margin-top: 30px;
  font-size: 25px;
}
#novel-contents{
  width: 75%;
  margin: 0 auto;
}
.border{
  border-color:#bbbbbb;
  margin-top: 12px;
  margin-bottom: 12px;
}
#novel-contents .entry li{
  margin-bottom:0px;
  margin-left: 5px;
}
#novel-contents .entry li a{
  font-size: 15px;
}
.entry li .subtitle{
  font-size:18px;
}
#entry-box strong{
  margin-left:5px;
  font-size: 15px;
  padding-bottom: 10px;
}

.author{
  float: right;
  margin-right: 10px;
  margin-left: 10px;
}

/* 小説本文 */
.novelnavi{
  text-align: center;
  margin-top: 20px;
}
.novelnavi li{
  display: inline-block;
  margin-right: 10px;
}
#novel-contents .subtitle{
  font-size: 20px;
}
#novel-contents .author {
  float:right;
  margin-right: 30px;
}

/* drafts */
/* 執筆中小説一覧 */
.writting-novels{
  padding-top: 30px;
  margin: 0 auto;
  width: 80%;
}
.button{
  margin-top: 10px;
  margin-bottom: 15px;
}
.button a{
  margin-left: 10px;
  display: inline-block;
  border-radius: 3px;
  transition: 0.8s;
  border: solid 2px;
  padding: 10px 20px;
}
/* 執筆中の小説本文 */
.writting-story{
  width: 80%;
  padding-top: 30px;
  margin: 0 auto;
}
.writting-story .contents{
  padding-bottom: 20px;
}
.writting-story .contents h2{
  font-size: 20px;
}

/* submit_novels */
/* 投稿した小説一覧 */
.submit-novels{
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}



/* ランキング */
.ranking-list{
  margin-top: 30px;
}


/* フッター */
footer{
  background-color: #4d4d4d;
  height:150px;
}




/* まとまった処理 */
/* 小説一覧の枠 */
.contents-box{
  border: 1px solid #999999;
  padding: 5px;
  margin-bottom: 20px;
}
.contents-box h4{
  background: rgba(204, 204, 204, 0.3);
  padding: 5px;
  color: #555555;
  margin: 0px;
}
.contents{
  margin-top:10px;
  border-bottom:1px dotted #999999;
  margin-bottom:10px;
}
.contents h2{
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;
}
.contents h2 a{
  display: block;
  font-size:15px;
  padding: 10px 0px;
}

/* ボタン */
.fav-btn{
  display: inline-block;
}
.green-btn{
  position: relative;
  display: block;
  font-weight: bold;
  padding:5px 10px;
  border-left: solid 4px #25c552;
  border-right: solid 4px #25c552;
  color: #25c552;
  background: rgba(92, 251, 90, 0.6);
  transition :.4s;
  width: 60%;
  margin: 0 auto;
}
.green-btn:hover{
  background: #25c55c;
  color: #fff;
}
.blue-btn{
  position: relative;
  display: block;
  font-weight: bold;
  padding:5px 10px;
  border-left: solid 4px #668ad8;
  border-right: solid 4px #668ad8;
  color: #668ad8;
  background: #e1f3ff;
  transition :.4s;
  width: 60%;
  margin: 0 auto;
}
.blue-btn:hover{
  background: #668ad8;
  color: #fff;
}

a.txt-btn{
  border-color: #67c5ff;
  color: #67c5ff;
}
a.txt-btn:hover{
  background: #67c5ff;
  color: white;
}
a.edit-btn{
  border-color: #21e267;
  color: #21e267;
}
a.edit-btn:hover{
  background: #21e267;
  color: white;
}
a.delete-btn{
  border-color: #ef6565;
  color: #ef6565;
}
a.delete-btn:hover{
  background: #ef6565;
  color: white;
}
.following-btn, .follow-btn{
  margin-bottom: 20px;
}
.following-btn{
  display:inline-block;
  width: 90%;
  color: white;
  background: #67c5ff;
  border-color: #67c5ff;
  border-radius: 30px;
  transition: 0.5s;
}
.following-btn:hover{
  background: #ff8181;
  border-color: #ff8181;
}
.follow-btn{
  display:inline-block;
  padding:0px 15px;
  color: #67c5ff;
  background: white;
  border-color: #67c5ff;
  border-radius: 30px;
}
.fav-btn, .faving-btn{
  float:right;
}


/* フォーム関連 */
.space2{
  padding:20px;
}
.form-block{
  padding: 2px 2px 20px 2px;
  border:1px solid silver;
  margin: 0 auto;
  width: 90%;
}
.form-block >p{
  background: #f9f9f9;
  padding: 10px 8px;
  border: 1px solid;
  border-color: silver #999 #999 silver;
  font-weight: bold;
  margin-bottom: 10px;
}

/* 部分テンプレートnovel-form */
.summary-area{
  height:300px;
}
.summary{
  margin-bottom:10px;
}
/* 部分テンプレートdraft */
.tag{
  border-bottom:1px silver dotted;
  margin-top:5px;
}
.tag h4{
  background: #e6e6e6;
  padding:10px 8px;
  margin-bottom: 20px;
}
#txt-field-1, #txt-field-2, #txt-field-3, #txt-field-4{
  width: 99%;
}
#ttl-field{
  width: 99%;
}
.preface-area, .postscript-area{
  height: 300px;
}
.text-area{
  height: 400px;
}
.postscript{
  margin-bottom: 10px;
}

/* 部分テンプレートnovel */
.novel-box{
  margin-top:8px;
  padding-bottom:3px;
  font-size:13px;
  border-bottom: 1px solid #666;
}
.trigger, .toggle-container{
  margin-left: 8px;
}
.trigger{
  padding-bottom: 10px;
}
.trigger h3{
  font-size:16px;
  margin-top:20px;
  margin-bottom: 0;
}
.toggle-container{
  display: none;
}
.triangle{
  float:right;
  margin-right: 30px;
}
.novel-link{
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
  
}
.novel-link a{
  color: #67c5ff;
  padding: 10px 50px;
  border-radius: 3px;
  display: inline-block;
  border: double 4px #67c5ff;
  transition: .4s;
}

.novel-link a:hover{
  color: white;
  background-color: #67c5ff;
}

/* 機能ボタン */
.jquery-button{
  float:left;
  margin-right: 10px;
  margin-bottom: 5px;
  padding:5px;
}